@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

/*    About    */

@media (min-width: 480px ) {
    .info section {
        padding: 1rem 0;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media (min-width: 992px) {
    .cabecera {
        padding-bottom: 0;
    }

    .titulo-about {
        padding: 4rem 0;
    }
    .info {
        margin: 2rem 0;
    }
    .about a {
        height: 4rem;
    }
}


.about {
    text-align: map-get($port, t-a);
    margin: map-get($port, m);

    h2 {
        @include h2(100%, 1rem auto, $bg-secundario, center);

        span {
            color: $bg-primario;
        }
    }

    .info {

        transition: all .4s ease-in-out;

        &:hover {
            cursor: default;
            transform: translateY(-0.5rem);
        }

        section {
        background-color: rgba(0, 255, 255, 0.055);
        border: solid $bg-primario 0.7rem;
        border-radius: 0.5rem;
        margin: 1rem auto;
        max-width: 50rem;
            h3 {
                color: $bg-secundario;
                margin: 0;
            }

            h4 {
                color: $bg-secundario;
                margin: 0;
            }

            .p {
                font-size: 1.6rem;
                margin: 0;
                color: $bg-secundario;
            }

            .skill {
                margin: 0;
                font-size: 1.6rem;
                color: $bg-secundario;
            }

            .experiencia {
                color: $bg-secundario;
                margin: 0;
                font-size: 1.6rem;
            }

            .educacion {
                color: $bg-secundario;
                margin: 0 8rem;
                padding: 0;
                font-size: 1.6rem;
            }
        }
    }

    a {
        text-decoration: none;
        @extend %btn;

        &:hover {
            @extend %btn-hover;
        }
    }
}

/*   Fin   About   */