@import '../base/variables';
// @import '../base/extends';

.principal {

    .main {
        height: 80rem;
        align-content: center;
        
        .foto {

            img {
            max-width: 50rem;
            border: solid $bg-primario 0.7rem;
            }
        }
        
        .seccion {
            text-align: center;
            margin: 1rem 0 2rem;
    
            h1 {
                width: 100%;
                margin: 1rem auto;
                display: block;
                color: $bg-secundario;
    
                span {
                    color: $bg-primario;
                }
            }
    
            h2 {
                width: 100%;
                margin: 1rem auto;
                color: $bg-secundario;
                align-self: center;
    
                span {
                    color: $bg-primario;
                }
            }
    
            .intro {
                width: 100%;
                margin: 1rem auto;
                padding: 1rem 0;
                color: $bg-secundario;
                font-size: 1.6rem;
            }
    
            a {
                text-decoration: none;
                @extend %btn;
    
                &:hover {
                    @extend %btn-hover;
                }
            }
        }
    }
}

/*   Fin Index    */