@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

.principal {

    .main {
        height: 80rem;
        align-content: center;
        
        .foto {

            img {
            max-width: 50rem;
            border: solid $bg-primario 0.7rem;
            }
        }
        
        .seccion {
            text-align: map-get($port, t-a);
            margin: map-get($port, m);
    
            h1 {
                width: map-get($port, w);
                margin: 1rem auto;
                color: $bg-secundario;
    
                span {
                    color: $bg-primario;
                }
            }
    
            h2 {
                @include h2(100%, 1rem auto, $bg-secundario, center);
    
                span {
                    color: $bg-primario;
                }
            }
    
            .intro {
                width: map-get($port, w);
                margin: 1rem auto;
                padding: 1rem 0;
                color: $bg-secundario;
                font-size: 1.6rem;
            }
    
            a {
                text-decoration: none;
                @extend %btn;
    
                &:hover {
                    @extend %btn-hover;
                }
            }
        }
    }
}

/*   Fin Index    */