@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

/*    Portfolio    */

@media (min-width: 1400px) {
    .portfolio {
        height: 78rem;
    }
}


.portfolio {
    text-align: map-get($port, t-a);
    margin: map-get($port, m);

    h2 {
        @include h2(100%, 1rem auto, $bg-secundario, center);
    }

    .proyectos {
        margin: 1rem 0;

        section {
            padding: 1rem;
            background-color: rgba(0, 255, 255, 0.055);
            border: solid $bg-primario 0.7rem;
            border-radius: 1rem;
            max-width: 50rem;
            margin: 0 auto;

            img {
                width: map-get($port, w);
                max-width: 40rem;
            }
        }
    }
}

/*   Fin Portfolio   */