@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

/*    Service    */

@media (min-width: 768px) {
    .service {
        height: 78rem;
    }
}

.service {
    text-align: map-get($port, t-a);
    margin: map-get($port, m);

    h2 {
        @include h2(100%, 1rem auto, $bg-secundario, center);

        span {
            color: $bg-primario;
        }
    }

    .servicio {
        height: 16rem;
        margin: 1rem 0;
        transition: all .4s ease-in-out;

        &:hover {
            cursor: default;
            transform: translateY(-0.5rem);
        }

        section {
            height: map-get($port, h);
            background-color: rgba(0, 255, 255, 0.055);
            margin: 1rem auto;
            border: solid $bg-primario 0.7rem;
            border-radius: 1rem;
            max-width: 40rem;

            h3 {
                color: $bg-secundario;
            }

            p{
                font-size: 1.6rem;
                color: $bg-secundario;
            }
        }
    }
}

/*   Fin Service   */