@import 'variables';

%btn {
    color: $bg-primario;
    font-size: 1.2rem;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background-color: $bg-terciario;
    border: solid $bg-primario 0.2rem;
    border-radius: 0.5rem;
    transition: 0.7s;
    max-width: 12rem;
}

%btn-hover {
    background-color: $bg-primario;
    color: $bg-terciario;
    box-shadow: 0 0 5rem $bg-primario;
}